@page

@{
    ViewData["Title"] = "A propos";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - A propos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/modern-interface.css" asp-append-version="true" />
</head>

<div class="text-center">
    <h1 class="display-4 font-weight-bold">A propos</h1>
    <hr />
    <div id="profile_title">
        <img id="profile_img" src="..\ressources\1648481342029.png" alt="Photo de profil" />
        <h3>Kilian Delsaut</h3>
    </div>

    <br /> <br /> <br />

    <div id="presentation_div">
    <p> Bonjour ! Je suis Kilian, un passionné d'informatique de 21 ans, animé par la création et le développement de solutions numériques innovantes.</p>
    <br />
    <p>Depuis mon plus jeune âge, j'ai été captivé par le monde de l'informatique. C'est cette fascination qui m'a conduit à choisir une voie professionnelle dans ce domaine. Après avoir terminé mon parcours au lycée, j'ai immédiatement plongé dans l'univers de la technologie en poursuivant un BTS en Systèmes Numériques et Réseaux (SNIR).</p>
    <br />
    <p>Pour enrichir mes compétences et acquérir une expérience concrète, j'ai choisi la voie de l'alternance en intégrant une licence CASIR (Conception et Administration de Systèmes Informatiques en Réseau). Cette expérience m'a permis d'explorer des facettes diverses du développement informatique tout en étant directement immergé dans le monde professionnel.</p>
    <br />
    <p>Aujourd'hui, fort de cette formation polyvalente et d'une récente obtention de diplôme, je suis à la recherche d'opportunités stimulantes dans le domaine du développement logiciel. Ma passion et ma rigueur me poussent à relever de nouveaux défis et à contribuer à des projets innovants.</p>
    <br />
    <p>Mon objectif est de mettre à profit mes connaissances techniques, ma créativité et ma détermination au sein d'une équipe dynamique pour participer activement à la conception et à la réalisation de logiciels novateurs, répondant aux besoins du marché actuel.</p>
    </div>

    <br /><br />
    <hr />

    <h2>Informations</h2>
    <br /><br />
    <ul>
        <li>
            10 impasse Longueville
            26100 Romans Sur Isère
        </li>
        <li>
            kiliandel07@gmail.com
        </li>
        <li>
            +33 6.21.24.03.93
        </li>
        <li>
            Permis B - A1
        </li>
    </ul>

    <br /><hr />

    <h2>        Centres d'intérêts   </h2>
    <br /><br />
    <ul>
        <li>Informatique</li>
        <li>
            Dessin
        </li>
        <li>
            Jeux Vidéo
        </li>
        <li>
            Kung Fu (Ceinture noire)
        </li>
    </ul>



    <br /><br />
    
</div>
